<div id="<%= dom_id notification %>" class="notification-card read_<%= notification.read %>">
  <%= link_to notification.url, class:  "notification-url-js", data: { id: notification.id } do %>
    <section>
      <p><%= notification.id %> <%= notification.message %></p>
      <span class="read">Read: <%= notification.read_at&.strftime('%y/%m/%d %T') %></span>
      <span class="time-ago"><%= time_ago_in_words(notification.created_at) %></span>
    </section>
  <% end %>
  <span class="<%= notification.read %> notification-actions" data-id="<%= notification.id %>">
    <%= turbo_frame_tag "update_#{notification.id}" do %>
      <%= form_with model: notification, method: :put, class: 'float-left' do |f| %>
        <button type="submit" class="turbo-action">Mark as read</button>
      <% end %>
    <% end %>
    <%= turbo_frame_tag "delete_#{notification.id}" do %>
      <%= form_with model: notification, method: :delete, class: 'float-right' do |f| %>
        <button type="submit" class="turbo-action">Delete</button>
      <% end %>
    <% end %>
  </span>
</div>
