<div class="container login_container">
  <div class="d-flex justify-content-center h-100">
    <div class="card login_card">
      <div class=" card-header login_card-header">
        <h3>Log in</h3>
        <div class="d-flex justify-content-end social_icon">
					<!-- <span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span> -->
          <%= link_to "Sign up", new_user_registration_path, class: 'btn login_btn', title: "Sign up" %>
          <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: 'btn login_btn', title: "Sign in with Google" %>
				</div>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      <div class="card-body">
        <form>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<!-- <span class="input-group-text"><i class="fas fa-user"></i></span> -->
						</div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "email" %>
					</div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<!-- <span class="input-group-text"><i class="fas fa-key"></i></span> -->
						</div>
            <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder: "password" %>
					</div>
          <div class="row align-items-center remember">
            <%= f.check_box :remember_me, class: "row align-items-center remember" %>
            <%= f.label :remember_me %>
          </div>
          <div class="d-flex justify-content-center">
            <%= f.submit "Log in", class:"btn login_btn float-right" %>
					</div>
        </form>
      </div>
      <%= link_to "Forgot your password?", new_password_path(resource_name), style: "color: white;", class: "d-flex justify-content-center" %>
      <%= render "devise/shared/card_footer"%>
      <% end %>
    </div>
  </div>
</div>
