<tr id="<%= dom_id post %>">
  <td><%= post.id %></td>
  <td><%= post.created_at %></td>
  <td><%= post.message %></td>
  <td>
    <%= turbo_frame_tag "show_post_#{post.id}" do %>
      <%= link_to "Show", post_path(post) %>
    <% end %>
    <%= turbo_frame_tag "edit_post_#{post.id}" do %>
      <%= link_to "Edit", edit_post_path(post) %>
    <% end %>
    <%= link_to "Delete", post_path(post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </td>
</tr>