<div class="modal fade" id="modal<%= expense.id %>" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-info">
        <h5 class="modal-title" id="">Category: <%= expense.category&.name&.capitalize %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card border-info mb-3" style="max-width: 540px;">
          <div class="row no-gutters">  
            <div class="col-12">
              <div class="card-body text-info">
                <h5 class="card-title"><%= number_to_currency(expense.value) %></h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><%= expense.detail %></li>
                  <li class="list-group-item"><%= expense.date %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" title="Close" data-dismiss="modal">
          <i class="fa fa-window-close-o" aria-hidden="true"></i>
        </button>
        <%= link_to expense, class: "btn btn-outline-info", titel: "Show expense #{expense.id}" do %>
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        <% end %>
        <%= link_to edit_expense_path(expense), class: 'btn btn-outline-primary', title:"Update expense #{expense.id}" do %>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
